@import url(https://allfont.net/allfont.css?fonts=star-jedi);

body {
  margin: 0;
  padding: 0;
  font-family: 'Star Jedi', arial;
  background: url('https://cdn.wallpapersafari.com/77/15/W6uAv2.jpg') no-repeat center center fixed;
  background-size: cover;
}
